.quarto/_freeze/index/execute-results/html.json
.quarto/_freeze/site_libs/clipboard/clipboard.min.js
.quarto/cites/index.json
.quarto/idx/001_intro.qmd.json
.quarto/idx/002_examples.qmd.json
.quarto/idx/003_read_different_varibles.qmd.json
.quarto/idx/004_compute_temperature_trend.qmd.json
.quarto/idx/999_references.qmd.json
.quarto/idx/index.qmd.json
.quarto/preview/lock
.quarto/xref/7ebdd1b0
.quarto/xref/036ca8d1
.quarto/xref/112389a1
.quarto/xref/b1ba1770
.quarto/xref/e3fc700a
.quarto/xref/f12e3971
.quarto/xref/INDEX
_book/001_intro.html
_book/002_examples.html
_book/003_read_different_varibles.html
_book/004_compute_temperature_trend.html
_book/999_references.html
_book/index.html
_book/NASA_data.png
_book/NASA.png
_book/NSDF-smaller.PNG
_book/search.json
_book/wired-logo-small.png
Notebooks/NEX-GDDP-CMIP6_ACCESS-CM2_tas_ssp585_2020_day202_cropped.png
Notebooks/NEX-GDDP-CMIP6_ACCESS-CM2_tas_ssp585_2020_day202.png
