.quarto/_freeze/index/execute-results/html.json
.quarto/_freeze/site_libs/clipboard/clipboard.min.js
.quarto/cites/index.json
.quarto/idx/001_intro.qmd.json
.quarto/idx/002_examples.qmd.json
.quarto/idx/003_read_different_varibles.qmd.json
.quarto/idx/004_compute_temperature_trend.qmd.json
.quarto/idx/999_references.qmd.json
.quarto/idx/index.qmd.json
